In [4]:
#fundemental data types
print(type(2))
print(type(2.344))
print(type(2/3))

<class 'int'>
<class 'float'>
<class 'float'>

In [18]:
#math functions
round(335.45495945,-2)
bin(25)
int('0b11001',2)

25

In [21]:
#string

first_name = 'Don Usitha Mihiranga'
last_name = 'Uduwakaarachchi'
full_name = first_name + ' ' + last_name
print(full_name)

Don Usitha Mihiranga Uduwakaarachchi

In [63]:
#String Concatenation
print('hello'+' Usitha')

hello Usitha

In [5]:
str(100)
type(str(100))
type(int(str(100)))

int

In [3]:
#Escape sequence
Weather = "This is 'an' example for \"Esacpe\" sequence"
print(Weather)

This is 'an' example for "Esacpe" sequence

In [ ]:
#formatted string 
Name = 'Usitha'
age = 26

print(f'My name is {Name}. I\'m {age} years old.') # or

print('My name is {}. I\'m {} years old.'.format('Usitha','26'))
print('My name is {}. I\'m {} years old.'.format(Name,age))

In [ ]:
name = 'Uduwakaarachchi'

print(name[1])
print(name[1:])
print(name[1:6])
print(name[1:-1])
print(name[:-1])
print(name[1:-1:2])
name[::-1]

name.count('a')

In [46]:
len(name)
name.upper()
name.capitalize()
name.index('k')

5

In [56]:
birth_year = int(input('what is you birth year?'))
your_age = 2022 -birth_year
your_age

26

In [61]:
print(f'you\'re {your_age} years old.')

you're 26 years old.

In [76]:
user_name=input('what is your name? ')
user_password=input('What is your password? ')

In [ ]:
user_name
user_password = '*' * len(user_password)
print('User Name: ' + user_name)
print('Password: ' + user_password)

Lists

In [107]:
cart=[
    'toys',
    'supplements',
    'foods',
    'fruits',
    'notebook',
    'sunglasses'
]

In [108]:
cart[::-1]

['sunglasses', 'notebook', 'fruits', 'foods', 'supplements', 'toys']

In [109]:
cart[cart.index('notebook')]='laptop'
cart

['toys', 'supplements', 'foods', 'fruits', 'laptop', 'sunglasses']

In [110]:
new_cart=cart[:]
new_cart[-2]='iPhone'

print(new_cart)
print(cart)

['toys', 'supplements', 'foods', 'fruits', 'iPhone', 'sunglasses']
['toys', 'supplements', 'foods', 'fruits', 'laptop', 'sunglasses']

In [117]:
import numpy as np

In [137]:
matrix=[[1,2,3],
[4,5,6],
[7,8,9]]

List Methods

In [166]:
li=[1,4,2,7,12,89,34,5]
li.sort(reverse=True)
li.append(112)
li

[89, 34, 12, 7, 5, 4, 2, 1, 112]

In [167]:
li.insert(2,13)
li

[89, 34, 13, 12, 7, 5, 4, 2, 1, 112]

In [168]:
li.remove(2)
li

[89, 34, 13, 12, 7, 5, 4, 1, 112]

In [169]:
li.pop(2)
li

[89, 34, 12, 7, 5, 4, 1, 112]

In [172]:
basket=['a','e','i','o','u']
print('e' in basket)

True

In [176]:
x=list(range(1,100,2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]